hr {
  background-color: var(--text-color);
  border-style: none;
  height: 1px;
  margin-block: 0;
  margin-inline: 0;
  width: 240px;
}

.footer {
  display: flex;
  justify-content: center;
  margin-top: 32px;
}

.icon {
  color: var(--text-color);
  fill: var(--text-color);
  margin: 0 16px;
  width: 28px;
}

@media (min-width: 640px) {
  .icon {
    width: 32px;
  }
}

@media (min-width: 1024px) {
  .icon {
    width: 36px;
  }
}
