:root {
  --background-color: #ffffff;
  --text-color: #000000;
}

::selection {
  color: var(--background-color);
  background: var(--text-color);
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "Mukta";
  margin: 0;
}

hr {
  background-color: var(--text-color);
  border-style: none;
  height: 1px;
  margin-block: 0;
  margin-inline: 0;
  width: 15rem;
}

a {
  color: var(--text-color);
}

.content {
  display: grid;
  grid-template-columns: minmax(1.75rem, 1fr) [content-start] minmax(16rem, 64rem) [content-end] minmax(1.75rem, 1fr);
  height: 100vh;
}

.section {
  grid-column: content-start / content-end;
}

.title-section {
  align-self: center;
  justify-self: center;
}

.link {
  font-weight: bold;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #101010;
    --text-color: #ffffff;
  }
}

@media (min-width: 640px) {
  .title {
    font-size: 2rem;
  }

  .text {
    font-size: 1.25rem;
  }

  hr {
    width: 18rem;
  }
}

@media (min-width: 1024px) {
  .title {
    font-size: 2.25rem;
  }

  .text {
    font-size: 1.5rem;
  }

  hr {
    width: 20rem;
  }
}
