:root {
  --background-color: #ffffff;
  --text-color: #000000;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "Mukta";
  margin: 0;
}

a {
  color: var(--text-color);
}

.content {
  display: grid;
  grid-template-columns: minmax(28px, 1fr) [content-start] minmax(256px, 1024px) [content-end] minmax(28px, 1fr);
  margin: 32px 0;
}

.section {
  grid-column: content-start / content-end;
}

.title-section {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.title {
  margin: 8px 0;
}

@media (min-width: 640px) {
  hr {
    width: 288px;
  }

  .title {
    font-size: 32px;
  }

  .text {
    font-size: 18px;
  }
}

@media (min-width: 1024px) {
  hr {
    width: 320px;
  }

  .title {
    font-size: 38px;
  }

  .text {
    font-size: 24px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #101010;
    --text-color: #ffffff;
  }
}
