:root {
  --background-color: #ffffff;
  --text-color: #000000;
}

::selection {
  color: var(--background-color);
  background: var(--text-color);
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "Mukta";
  margin: 0;
}

hr {
  background-color: var(--text-color);
  border-style: none;
  height: 1px;
  margin-block: 0;
  margin-inline: 0;
  width: 240px;
}

a {
  color: var(--text-color);
}

.content {
  display: grid;
  grid-template-columns: minmax(28px, 1fr) [content-start] minmax(256px, 1024px) [content-end] minmax(28px, 1fr);
  height: 100vh;
}

.section {
  grid-column: content-start / content-end;
}

.title-section {
  align-self: center;
  justify-self: center;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #101010;
    --text-color: #ffffff;
  }
}

@media (min-width: 640px) {
  .title {
    font-size: 32px;
  }

  .text {
    font-size: 18px;
  }

  hr {
    width: 288px;
  }
}

@media (min-width: 1024px) {
  .title {
    font-size: 38px;
  }

  .text {
    font-size: 24px;
  }

  hr {
    width: 320px;
  }
}
