.back-section {
  justify-self: start;
}

.back-link {
  display: flex;
}

.back-icon {
  margin-right: 8px;
  width: 16px;
}

@media (min-width: 640px) {
  .back-icon {
    width: 18px;
  }
}

@media (min-width: 1024px) {
  .back-icon {
    width: 24px;
  }
}
